/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

strong {
    @apply text-blue-600;
}

strong:hover {
    @apply text-orange-600;
}

a:hover {
    @apply text-orange-600;
}

svg:hover {
    fill: #ffa500;
}
