@tailwind base;
@tailwind components;
/* ========================
   GLOBAL STYLES 
=========================*/
:root {
  /* Font Primary */
  --onyx: #36393bff;
  /* Font Secondary */
  --platinum: #ebebebff;
  --maximum-blue-green: #59c3c3ff;
  --indian-red: #db5461ff;
  --blue-crayola: #3772ffff;
  --canary: #ffff82ff;
}

.btn-blue {
  @apply bg-blue-500 font-bold py-2 px-4 rounded;
  color: var(--platinum);
}

.btn-blue:hover {
  @apply bg-orange-300;
  color: var(--onyx);
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: var(--onyx);
  line-height: 1.15;
}

.footer {
  @apply py-5;
  outline: 3px dotted blue;
}

.footer-creator {
  @apply font-semibold text-sm text-center;
  color: var(--onyx);
  line-height: 1.15;
}

@tailwind utilities;
